<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head(titulo)">
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <style>
        html {
            min-height: 100%;
            position: relative;
        }
        body {
            margin: 0 0 40px;
        }
        footer {
            background-color: black;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
            color: white;
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="jumbotron jumbotron-fluid" th:fragment="html_tron(titulo)">
    <div class="container">
        <h1 class="display-4" th:text="${titulo}"></h1>
    </div>
</div>
<div th:fragment="html_alerts">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error != null}">
        <strong  th:text="${error}"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${info != null}">
        <strong  th:text="${info}"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success != null}">
        <strong  th:text="${success}"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="html_nav(titulo)">
    <a class="navbar-brand" href="#" th:text="${titulo}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/productos">Productos</a>
            </li>
        </ul>
    </div>
</nav>

<div th:fragment="html_footer">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    <footer>
        <p>
            Gerald Reyes Castillo &copy;
        </p>
    </footer>
</div>
</body>
</html>